.header {
    margin-top: 10px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media (min-width: $tablet-above) and (max-width: 990px) {
            gap: 5px;
        }
    }

    &__menu {
        display: flex;
        flex: 1;

        &-list {
            display: flex;
            flex: 1;
            justify-content: center;
            gap: 8vw;

            @media (min-width: 831px) and (max-width: 990px) {
                gap: 3vw;
            }

            @media (min-width: $tablet-above) and (max-width: 830px) {
                gap: 0.3vw;
            }
        }

        &-item {
            font-family: 'Lato-SemiBold';
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}