.service-card {
    &__body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__name {
        margin: 20px 0 12px;

        @include mobile {
            font-size: 16px;
        }
    }

    &__btn {
        position: absolute;
        box-sizing: border-box;
        font-size: 16px;
        width: 50%;
        top: 5%;
        left: 5%;
        background-color: $color-dark;
        color: $color-white;
        padding: 10px;
        border-radius: 100px;

        @include mobile {
            font-size: 14px;
        }
    }

    &__price {
        display: flex;
        gap: 16px;
        font-size: 22px;

        @include mobile {
            font-size: 16px;
        }

        &_new {
            color: $color-bright;
        }

        &_old {
            color: $color-light;
            text-decoration: line-through;
        }

        &_normal {
            font-size: 22px;

            @include mobile {
                font-size: 16px;
            }
        }
    }

    &__details {
        position: absolute;
        top: 85%;
        box-sizing: border-box;
        padding: 10px 15px;
        width: 85%;
        border-radius: 100px;
        background-color: $color-bright;
        color: $color-white;
        font-size: 16px;
        font-family: 'Lato-SemiBold';
        font-weight: 600;
        cursor: pointer;
        border: none;
    }
}