    $color-dark: rgb(35, 24, 21);
    $color-bright: rgb(228, 83, 2);
    $color-light: rgb(128, 128, 128);
    $color-white: rgb(245, 245, 245);

    $background-color: rgb(12, 12, 12);

    $font-family-base: 'Lato-Bold', sans-serif;

    $container-width: 1400px;
    $container-padding-x: 35px;

    $transition-duration: 0.2s;